@model web.Models.Accesos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Accesos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Control)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Control)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Metodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Metodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            Predecesor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccesoPredecesor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_acceso }) |
    @Html.ActionLink("Back to List", "Index")
</p>
